/* Regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
  font-size: 16px;
}

.center-box{
  width: 80%;
  margin: 50px auto;
}

/* header */

#title {
  color: rgb(229, 49, 112);
  font-weight: 800;
  font-size: 50px;
}

header h1, p {
  text-align: center;
  margin-top: 20px;
}

/* Sezione principale */

.row {
  margin-top: 30px;
}

.column {
  display: inline-block;
  width: calc((100%/3) - 3px);
  padding: 5px;
  background-color: rgb(15, 14, 23);
}

/* Regole Celle */

.column img {
  float: left;
  width: 80px;
  border: 1px solid lightgray;
}

.name {
  display: inline-block;
}

.mail {
  color: rgb(77, 204, 242);
}

.name, .role {
  color: white;
}

.name, .role, .mail {
  margin-left: 10px;
  margin-top: 10px;
}
